
/* Colors */

:root{
    --dark-blue: #003049;
    --red: #D62828;
    --light-orange: #FAECD7;
    --light-pink: #FADED5;
    --off-white: #FFF8EE;
    --white: #ffffff;
    --dark-blue-hover: #035179;
    --red-hover: #690a1a;
}

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
    background: var(--white);
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
    margin-bottom: 20px;
}

section {
    padding-top: 100px;
}

section p {
    color: var(--dark-blue)
}

.wrapper {
    width: 1152px;
    margin: 0 auto;
    padding: 0 100px;
}

.desktop-nav .menu-icon, .mobile-nav {
    display: none;
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(194, 194, 196, 0.5);
    border-radius: 30px;
padding: 2px 30px;
padding-right: 0;

position: fixed;
z-index: 200;
width: calc(1152px - 200px);
top: 28px;
}

.desktop-nav .menu-items {
    display: flex;
    list-style: none;
}

.desktop-nav .menu-items li{
    margin: 0 20px;
}

.desktop-nav .menu-items li:nth-last-of-type(1){
    margin-right: 0;
}

.desktop-nav .menu-items li a {
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.desktop-nav .menu-items li a.active::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--red);
    left: 0;
    bottom: -8px;
}

.desktop-nav .menu-items li a.btn{
    color: var(--white);
}


.logo-text {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: var(--dark-blue);
    font-size: 30px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 8px 0 28px 0;
}

a.btn {
    font-weight: bold;
    font-size: 16px;
    background: var(--red);
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(194, 194, 196, 0.5);
    border-radius: 24px;
    padding: 14px 30px;
    text-decoration: none;
    transition: background-color 400ms;
}

a.btn.red:hover {
    background: var(--red-hover);
}

a.btn.red {
    background: var(--red);
    color: var(--white);
    border-radius: 24px;
    padding: 14px 30px;
    text-decoration: none;
}

a.btn.dark-blue {
    background: var(--dark-blue);
    color: var(--white);
    border-radius: 24px;
    padding: 14px 30px;
    text-decoration: none;
}

a.btn.dark-blue:hover {
    background: var(--dark-blue-hover);
}

/* Landing Section */

.hero-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-container .left p {
    font-family: "roboto", sans-serif;
    color: var(--dark-blue);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.hero-container .left h1 {
    font-family: "Montserrat", sans-serif;
    color: var(--dark-blue);
    font-size: 50px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 8px 0 28px 0;
}

.hero-container .left .btn {
    margin-right: 20px;
}

.hero-container .left .apple{
    position: relative;
    top: 10px;
}

.hero-container .right {
    padding-right: 30px;
}

/* Hero Bg  */

.hero-shapes {
    position: absolute;
    bottom: 100px;
    left: -80px;
    z-index: -1;
}

.hero-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

/* Animation */

.desktop-nav {
    animation: fadeDown 800ms forwards;
    opacity: 0;
}

.hero-container .left p {
    animation: fadeIn 1000ms forwards;
    opacity: 0;
    animation-delay: 400ms;
}

.hero-container .left h1 {
    animation: fadeToRight 800ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
    opacity: 0;
    animation-delay: 800ms;
}

a.btn {
    animation: fadeIn 1000ms forwards;
    opacity: 0;
    animation-delay: 1400ms;
}

.hero-container .left .apple{
    animation: fadeIn 1000ms forwards;
    opacity: 0;
    animation-delay: 1600ms;
}

.hero-container .right .hero-image{
    animation: fadeToLeft 1200ms forwards;
    opacity: 0;
    animation-delay: 900ms;
}

.hero-shapes {
    animation: fadeToRight 1200ms forwards;
    opacity: 0;
    animation-delay: 900ms;
}

.hero-bg {
    animation: fadeIn 900ms forwards;
    opacity: 0;
    animation-delay: 1000ms;
 }

@keyframes fadeIn{
    to {
        opacity: 1;
    }
}

@keyframes fadeDown{
    from{
        opacity: 0;
        transform: translateY(-20px)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeToRight {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeToLeft {
    from{
        transform: translateX(30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/* brand styles */

.clients-section {
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(194, 194, 196, 0.5);
    border-radius: 25px;
    padding: 32px 50px;
    margin-top: 100px;
}

.clients-section .clients-container img {
    height: 60px;
}

.clients-section .clients-container {
    display: flex;
    justify-content: space-between;
}

.clients-section .clients-line-1 {
    display: flex;
    justify-content: space-around;
    flex: 2;
}

.clients-section .clients-line-1 {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.clients-section h2, section h2 {
    color: var(--dark-blue);
    font-family: "montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 48px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(194, 194, 196, 0.5);
    position: relative;
}

.clients-section h2::after, section h2::after{
    content: "";
    width: 43px;
    height: 3px;
    position: absolute;
    background: var(--red);
    top: 40px;
    transform: translateX(-43px);
}

.about-section .section-content {
    display: flex;
    align-items: center;
}

.about-section .section-content img {
    margin-bottom: 60px;
    margin-left: 100px;
}

/* terms section */

.terms-section h3 {
    color: var(--dark-blue);
    font-family: "montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(194, 194, 196, 0.5);
    position: relative;
}

.terms-section .section-content {
    display: flex;
    align-items: center;
}

.terms-section .section-content .terms-description ul {
    margin-bottom: 20px;
}

.terms-section .section-content .terms-description ul li {
    margin-bottom: 10px;
    color: var(--dark-blue);
    list-style-type: square;
}

.terms-section .section-content img {
    margin-bottom: 60px;
    margin-left: 100px;
}

/* vendor section */

.vendors-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 18px;
    margin-bottom: 42px;
}

.vendors-gallery img{
    width: 100%;
    object-fit: cover;
}

/* Testimonial Section */

.slide-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}

.slide-container .content {
    padding: 8px 24px;
}

.testimonial .name {
    background: var(--dark-blue);
    color: var(--white);
    padding: 8px 24px;
    display: inline-block;
    margin-left: 16px;
}

.testimonials-container {
    position: relative;
}

.slider-prev, .slider-next {
    position: absolute;
    top: 68px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    padding: 15px 25px;
    cursor: pointer;
}


.slider-next {
    right: 0;
}

input[type="text"],
textarea {
    padding: 15px 30px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.11);
    border-radius: 24px;
    background: var(--white);
    border: 1px solid var(--dark-blue);
    font-family: "Roboto", sans-serif;
    flex: 1;
    margin-bottom: 36px;
}

.contact-section .group {
    display: flex;
}

input[type="text"]:nth-of-type(1){
    margin-right: 16px;
}

input[type="text"]:nth-of-type(2){
    margin-left: 16px;
}

/* footer styles */

footer {
    background: var(--light-pink);
    color: var(--dark-blue);
    margin-top: 100px;
    padding-bottom: 30px;
}

footer a {
    color: var(--dark-blue);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 32px 0;
}

.footer-container .logo {
    align-self: center;
}

.footer-container ul {
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
}

.footer-container ul li {
    margin: 16px 0;
}

.footer-container .footer-socials {
    margin: 30px 0 24px 0;
}

.footer-container .footer-socials a {
    text-decoration: none;
    margin: 0 15px;
}

.footer-container .footer-socials a:first-child {
    margin-left: 0;
}

.footer-container .footer-socials a img {
    transition: 500ms;
}

.footer-container .footer-socials a img:hover{
    transform: scale(1.4);
}

.copyright {
    text-align: center;
}


/* Media queries for responsiveness */

@media (max-width: 650px) {
    .wrapper {
        padding: 0;
        width: auto;
    }

    .hero-container .right .hero-image {
        display: none;
    }


    .desktop-nav .menu-items {
        display: none;
    }

    .desktop-nav {
        width: calc(100% - 16px);
        margin-left: 8px;
        padding: 4px 30px;
    }

    .desktop-nav .logo img {
        height: 36px;
    }

    .desktop-nav .menu-icon {
        display: block;
        cursor: pointer;
    }

    .hero-container .left {
        padding-left: 50px;
    }

    .hero-container .left p {
        font-size: 18px;
        margin-bottom: 0;
    }

    .hero-container .left h1 {
        font-size: 30px;
    }

    .hero-container .left a img {
        margin-top: 30px;
    }

    a.btn {
        font-size: 16px;
    }

    /* clients section */

    .clients-section {
        border-radius: 0;
        padding: 32px 0;
    }

    .clients-section h2, section h2 {
        font-size: 24px;
    }

    .clients-section h2::after, section h2::after {
        top: 100%;
        width: 40px;
        transform: translateX(-40px)
    }

    .clients-section .clients-container {
        flex-direction: column;
    }

    .clients-section .clients-container img {
        height: 24px;
    }

    .clients-section .clients-container {
        flex-direction: column;
    }

    /* About us */

    section {
        padding: 100px 30px 0 30px;
    }

    .about-section .section-content {
        flex-direction: column;
    }

    .about-section .section-content img {
        margin-left: 0;
        margin-top: 30px;
    }

    /* Terms and conditions */

    .terms-section .section-content {
        flex-direction: column;
    }

    .terms-section .section-content img {
        margin-left: 0;
        margin-top: 30px;
    }

    /* Vendor section */

    .vendors-gallery {
        grid-template-columns: 1fr;
    }

    .vendors-gallery img {
        height: 240px;
    }

    .vendors-gallery img.hide {
        display: none;
    }

    .testimonial .slide-container {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 16px 0;
    }

    .testimonial .slide-container img {
        width: 150px;
        margin: 0 auto;
        order: -1;
    }

    .testimonials-container .content {
        margin-top: 30px;
        padding: 0;
    }

    /* contact section */

    .contact-section .group {
        flex-direction: column;
    }

    .contact-section input[type="text"]:first-child {
        margin-right: 0;
    }

    .contact-section input[type="text"]:last-child {
        margin-left: 0;
    }

    .contact-section input[type="text"] {
        margin-bottom: 30px;
    }

    /* footer section */

    .footer-container {
        flex-direction: column;
        text-align: center;
        padding-top: 0;
    }

    .footer-container .footer-nav {
        margin-top: 80px;
    }

    .footer-container .logo {
        order: 2;
    }

    /* mobile navigation */

    .mobile-nav {
        display: flex;
        height: 100vh;
        align-items: center;
        position: fixed;
        justify-content: center;
        text-align: center;
        left: 0;
        background: var(--light-pink);
        right: 0;
        z-index: 200;

        opacity: 0;
        pointer-events: none;
        top: -100%;
        transition: 400ms;
    }

    .mobile-nav.active {
        opacity: 1;
        pointer-events: auto;
        top: 0;

    }
    
    .mobile-nav .menu-items {
        list-style-type: none;
        padding: 0;
    }

    .mobile-nav .menu-items li {
        margin: 20px 0;
    }

    .mobile-nav .menu-items li a {
        color: var(--dark-blue);
        text-decoration: none;
    }
}
